<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geraud.android.gps1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".SplashScreen.ApplicationInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Logi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PromotionMessage.PromotionMessageActivity"></activity>
        <activity android:name=".Camera.VideoTrimmerActivity" />
        <activity android:name=".GoogleMap.PlacesActivity" />
        <activity android:name=".Chat.TransferActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- main activity that will be ran when the app is first opened after ben closed -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".User_Setup.Setup" />
        <activity
            android:name=".Onboarding_slides.Walkthrough"
            android:theme="@style/AppTheme" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GoogleMap.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme" />
        <activity android:name=".Registration">
            <intent-filter android:label="@string/filter_view_http_gizmos">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.logi.com/register” -->
                <data
                    android:host="www.logi.com"
                    android:pathPrefix="/register"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>

        <service
            android:name=".Services.GeoQueries"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.SinchService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.OneSignal"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name=".Sinch.IncomingCallScreenActivity" />
        <activity android:name=".Sinch.CallScreenActivity" />
        <activity android:name=".Chat.ChatsActivity" />
        <activity android:name=".Chat.FindUserActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Camera.CameraActivity" />
        <activity android:name=".Camera.FullScreenImageActivity" />
        <activity android:name=".Camera.VideoPlayActivity" />
        <activity android:name=".Stories.FullScreenStoryActivity" />
    </application>

</manifest>